{% extends 'client/simple/dark/base.html.twig' %}

{% block body %}
    <div class="container vh-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 d-flex flex-column align-items-center gpa-2 flex-wrap">
                <h1 class="pb-5 mb-2">{{ "Bans" | trans }}</h1>
                {% for ban in bans %}
                    <div class="box animate w-100 row mb-3">
                        <div class="col-5">
                            <button class="btn btn-outline-secondary" disabled>{{ loop.index }}.</button>&nbsp;&nbsp;
                            <img src="https://cravatar.eu/helmhead/{{ ban.name }}" height="48px" width="48px"
                                 alt="{{ "Cube of" | trans }} {{ ban.name }}">
                            <span class="">{{ ban.name }}</span>
                        </div>
                        <div class="col-7 text-end d-flex flex-column m-0">
                            <span>{{ "Date From" | trans }}: {{ ban.value }}</span>
                            <span>{{ "Reason" | trans }}: {{ ban.reason }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}