{% extends 'client/simple/dark/base.html.twig' %}

{% block body %}
    <section class="payments py-5 mb-5">
        {% set now = item.type == 'item' ? 'Kup teraz' : 'Doładuj' %}

        {% if item.isMainItem %}
            <div class="mw-auto flex flex-row-reverse ">
                <button type="button" class="btn btn btn-primary modal-btn">{{ 'Realize voucher' | trans }}</button>
            </div>
        {% endif %}

        {{ form_start(form, {method: 'POST'}) }}
        <div class="container my-5">
            <div class="row gap-3">
                <div class="col-lg-6 col-12">
                    <div class="row gap-3">
                        <div class="box col-lg-12">
                            <h1>Dane zamówienia</h1>
                            {{ form_row(form.username, { 'attr': {'placeholder':'np. Steve'} }) }}
                            {{ form_row(form.email,{ 'attr': {'placeholder':'np. test@test.pl'}}) }}

                            {% set class = not item.multiple ? 'd-none': 'd-block' %}
                            <div class="{{ class }} mb-2">
                                {{ form_row(form.count) }}
                                <span>
                                    {% if item.type == 'item' %}Wybrano <b class="counter">1</b>{% endif %}
                                    {% if item.type != 'item' %}Łączny koszt doładowania wynosi <b class="pricing">{{ item.discountedPrice }}</b> zł{% endif %}
                                </span>
                            </div>
                        </div>

                        <div class="box col-lg-12">
                            <h1>Płatność</h1>

                            {{ form_row(form.payment) }}

                            <div id="psc-code" class="mb-2" style="display: none;">
                                <p>Lista kodów PSC</p>
                                <ul id="code-fields-list" data-prototype="{{ form_widget(form.code.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.code|length }}">
                                    {% for code in form.code %}
                                        <li>{{ form_widget(code,{ 'attr': {'class': 'payments-box-input', 'placeholder':''}}) }}</li>
                                        <div class="text-danger">{{ form_errors(code) }}</div>
                                    {% endfor %}
                                </ul>
                                <button type="button" class="btn btn-outline-light add-another-collection-widget" data-list-selector="#code-fields-list">Dodaj Kod</button>
                                <button type="button" class="btn btn-outline-light rem-another-collection-widget" data-list-selector="#code-fields-list">Usuń kod</button>
                            </div>

                            {{ form_widget(form.check) }}

                            <button id="submit" type="submit" class="mt-2 btn btn-success w-100" style="display: none;">
                                {{ now }} za <b class="pricing">{{ item.discountedPrice }}</b> zł
                            </button>
                        </div>
                    </div>
                </div>

                <div class="box col-lg-5 col-12 d-flex flex-column justify-content-center">
                    <h1>O produkcie</h1>

                    <img class="w-75 m-auto" src="{{ asset('/assets/images/' ~ item.image) }}" alt="SHOP-IMG">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <h1>{{ item.name | raw }}</h1>
                        <p>{{ item.description | raw }}</p>
                        <p>{{ item.shortDescription | raw }}</p>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
    {% include 'client/multi/dark/component/voucher.html.twig' %}
{% endblock %}
