<header class="header">
    <div class="header-height mw-auto flex flex-align flex-center">
        <div class="header-left">
            <h1 class="header-text_h1">{{ mainText | raw | nl2br }}</h1>
            <p class="header-text_p">{{ mainDescription | raw | nl2br }}</p>
            <div class="header-embed flex flex-align">
                <button id="clipboard" class="btn btn-color-g" onclick="copyToClipboard()" data-ip="{{ serverIp ?? serverName }}">Skopiuj IP</button>
                <script>
                    function copyToClipboard() {
                        navigator.clipboard.writeText(document.getElementById('clipboard').getAttribute('data-ip'));
                        document.getElementById('clipboard').innerHTML = "Skopiowano!";
                    }
                </script>
                <a href="{{ discord }}" aria-label="Discord">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.404 22.403">
                        <path
                                d="M50.93,33.891a.075.075,0,0,0-.038-.035A24.257,24.257,0,0,0,44.907,32a.091.091,0,0,0-.1.046,16.877,16.877,0,0,0-.745,1.53,22.4,22.4,0,0,0-6.722,0,15.481,15.481,0,0,0-.757-1.53.1.1,0,0,0-.1-.046,24.188,24.188,0,0,0-5.985,1.856.086.086,0,0,0-.039.034A24.8,24.8,0,0,0,26.122,50.62a.1.1,0,0,0,.038.069A24.387,24.387,0,0,0,33.5,54.4a.1.1,0,0,0,.1-.034,17.411,17.411,0,0,0,1.5-2.442.093.093,0,0,0-.051-.129A16.058,16.058,0,0,1,32.763,50.7a.094.094,0,0,1-.009-.156c.154-.115.308-.236.456-.357a.091.091,0,0,1,.1-.013,17.4,17.4,0,0,0,14.777,0,.091.091,0,0,1,.1.012c.147.121.3.243.457.358a.094.094,0,0,1-.008.156,15.074,15.074,0,0,1-2.295,1.092.094.094,0,0,0-.05.131,19.553,19.553,0,0,0,1.5,2.441.093.093,0,0,0,.1.035,24.306,24.306,0,0,0,7.354-3.71.094.094,0,0,0,.038-.068A24.635,24.635,0,0,0,50.93,33.891Zm-15.1,13.389a2.982,2.982,0,0,1,0-5.925,2.982,2.982,0,0,1,0,5.925Zm9.77,0a2.982,2.982,0,0,1,0-5.925,2.982,2.982,0,0,1,0,5.925Z"
                                transform="translate(-26 -31.999)" fill="#fff" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="header-right flex flex-center">
            <div class="header-right_logo">
                <img src="/assets/images/{{ logo }}" alt="LOGO">
            </div>
        </div>
    </div>
</header>