<nav class="navbar">
    <div class="mw-auto flex flex-between flex-align">
        <div class="flex flex-align">
            <img class="navbar-logo" src="/assets/images/{{ logo }}" alt="LOGO">
            <ul class="navbar-menu flex flex-align">
                <li>
                    <a class="navbar-link navbar-active circle-active" href="/">Strona Główna</a>
                </li>
                {% if isPlayerRank is not empty or isGuildRank is not empty %}
                    <li>
                        <a class="navbar-link" href="{{ path('index') }}#ranking">Rankingi</a>
                    </li>
                {% endif %}
                <li>
                    <a class="navbar-link" href="{{ path('bans') }}#ranking">Lista banów</a>
                </li>
                <li>
                    <a class="navbar-link" href="{{ path('rule') }}">Regulamin</a>
                </li>
            </ul>
        </div>
        <a href="{{ path('shop') }}">
            <button class="btn btn-color-g">
                Sklep serwera
            </button>
        </a>
    </div>
</nav>