<div class="mb-5">
    <div class="container">
        <h1 class="text1 mb-5"><i class="fas fa-user-shield text4 mr-3" aria-hidden="true"></i> {{ "Administration" | trans }}</h1>
        <div class="row justify-content-center flex-wrap">
            {% for u in users %}
            <div class="col-lg-4 col-12 d-flex flex-column justify-content-center align-items-center">
                <img src="https://mc-heads.net/body/{{ u.username ?? 'Steve'}}" alt="{{ u.username }}" class="mb-3 cube"/>
                <h2 class="text3">{{ u.username }}</h2>
                <h4 class="text4">{{ ( u.description | raw | nl2br ) ?? ('Next noname' | trans ~ ' ...')}}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</div>