<section class="bg" {% if background %}style="background-image: url('/assets/images/{{ background }}')" {% endif %}>
    <div class="container">
        <p class="text-blue"><i class="fas fa-fire" aria-hidden="true"></i> {{ serverName }}</p>
        <h1 class="text-white">{{ mainText | raw | nl2br }}</h1>
        <h2 class="text1 h4">{{ mainDescription | raw | nl2br }}</h2>
        <div class="d-flex align-items-center mb-10 mt-5 ">
            <h3 id="clipboard-text" class="text3 h4"> {{ "Join to us" | trans }}&nbsp;</h3>
            <button id="clipboard" type="button" class="btn-shop" onclick="copyToClipboard()" data-ip="{{ serverIp ?? serverName }}">
                <i class="fas fa-arrow-right" aria-hidden="true"></i>
            </button>
         </div>
        <script>
            function copyToClipboard() {
                navigator.clipboard.writeText(document.getElementById('clipboard').getAttribute('data-ip'));
                document.getElementById('clipboard-text').innerHTML = "Skopiowano!&nbsp;";
            }
        </script>
    </div>
</section>