<section class="last-buy">
    <div class="container">
        <div class="row mb-5">
            <h1 class="text-white">Ostatnie zakupy</h1>
            <div class="d-flex justify-content-center gap-3 flex-wrap container items">
                {% set crafthead = "https://crafthead.net/cube/" %}
                {% for buyer in lastBuyers %}
                    <div class="d-flex justify-content-center align-items-center text-white">
                        <img class="me-2" src="{{ crafthead }}{{ buyer.username }}" alt="{{ buyer.username }}" height="80"
                             data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="{{ buyer.username }}<br/>{{ buyer.date | date('d.m.Y H:i') }}"/>
                    </div>
                {% endfor %}                {% for buyer in lastBuyers %}
                    <div class="d-flex justify-content-center align-items-center text-white">
                        <img class="me-2" src="{{ crafthead }}{{ buyer.username }}" alt="{{ buyer.username }}" height="80"
                             data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title="{{ buyer.username }}<br/>{{ buyer.date | date('d.m.Y H:i') }}"/>
                    </div>
                {% endfor %}
        </div>
    </div>
</section>