{% if playerRank is not empty or guildRank is not empty %}
    <div class="bg2 mb-5">
        <div class="container" id="rank">
            <div class="row mb-5">
                <div class="col-lg-7">
                    <h1 class="text1 mb-3">
                        <i class="fas fa-trophy text4 mr-3" aria-hidden="true"></i> {{ "Rank" | trans }}
                    </h1>
                </div>
                {% if playerRank is not empty %}
                    <div class="col-lg-5 text-end">
                        <form method="get">
                            <div class="form-group">
                                <input class="form-control" type="search" placeholder="{{ 'Enter a player name' | trans }}" aria-label="Search" size="40" name="name">
                                <button class="btn-shop mt-4 text-center text-decoration-none" type="submit"><i class="fa fa-search"></i> {{ 'Search player' | trans }}</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>
            <div class="row mb-5 flex justify-content-lg-between">
                {% if playerRank is not empty %}
                    <div class="col-lg-5 mb-2">
                        <h1 class="text5 mb-2 h3">{% trans %}Best players{% endtrans %}</h1>
                        <div class="col-lg-12 mb-3 ranking animate">
                            {% for player in playerRank %}
                                <div class="row">
                                    <div class="col-9 p-2 d-flex align-items-center">
                                        <button class="btn-ranking me-4" disabled>{{ loop.index }}.</button>&nbsp
                                        <img class="me-4" src="https://crafthead.net/cube/{{ player.name }}" height="48px" width="48px" alt="{{ "Cube of" | trans }} {{ player.name }}">
                                        <span class="text8">{{ player.name | upper }}</span>
                                    </div>
                                    <div class="col-3 p-2 text7 d-flex justify-content-end align-items-center">
                                        <p>{{ player.value }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if guildRank is not empty %}
                    <div class="col-lg-5 mb-2">
                        <h1 class="text5 mb-2 h3">{% trans %}Best guilds{% endtrans %}</h1>
                        <div class="col-lg-12 mb-3 ranking animate d-flex flex-column gap-2">
                            {% for guild in guildRank %}
                                <div class="row">
                                    <div class="col-9 p-2 d-flex align-items-center">
                                        <button class="btn-ranking me-4" disabled>{{ loop.index }}.</button>
                                        <img class="me-4" src="{{ asset('assets/images/iconguild.png') }}" height="48px" width="48px" alt="{{ guild.name }}">
                                        <span class="text8">{{ guild.name | upper }}</span>
                                    </div>
                                    <div class="col-3 p-2 text7 d-flex justify-content-end align-items-center">
                                        <p>{{ guild.value }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}