<!DOCTYPE html>
<html lang="PL" class="h-100">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="pl"/>
    <meta name="author" content="Mateusz Poźniak ak. Adexion">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes"/>
    <link rel="shortcut icon" href="/assets/images/{{ logo }}" />

    <link rel="manifest" href="/assets/manifest.json">

    {% block stylesheets %}
        {{ encore_entry_link_tags('guild-dark') }}
    {% endblock %}
    {% if head %}
        <title>{{ head.title }}</title>
        {% for meta in head.meta %}
            <meta {{ meta.type }}="{{ meta.value }}" content="{{ meta.content }}"
        {% endfor %}
        {% if head.custom %}
            {{ head.custom | raw}}
        {% endif %}
    {% endif %}
</head>
<body class="d-flex flex-column h-100">
{% include 'client/guild/dark/component/navbar.html.twig' %}

{% block body %}{% endblock %}

{% include 'client/guild/dark/component/footer.html.twig' %}
{% include 'client/component/dev.template.html.twig' %}
{% block javascripts %}
    {{ encore_entry_script_tags('guild-dark') }}
{% endblock %}
</body>
</html>
