{% extends 'admin/base.html.twig' %}

{% block body %}
    {% if authenticationError %}
        <div class="alert-danger alert position-fixed vw-100">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</div>
    {% endif %}

    <div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
        <h1 class="h4 mb-5"><i class="fab fa-google"></i> 2FA Google Authenticator</h1>
        <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
            <div class="mb-3">
                <label for="_auth_code" class="form-label">{{ "auth_code"|trans({}, 'SchebTwoFactorBundle') }} {{ twoFactorProvider }}:</label>
                <input class="form-control" id="_auth_code" type="text" name="{{ authCodeParameterName }}" autocomplete="one-time-code" autofocus/>
            </div>
            <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">

            <input class="btn btn-primary" type="submit" value="{{ "login"|trans({}, 'SchebTwoFactorBundle') }}"/>
            <a class="btn btn-danger" href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a>
        </form>
    </div>
{% endblock %}
