{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="container-fluid bg-dark console">
        {% if response %}
            {% for r in response %}
                <p class="response text-white">{{ r | nl2br }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="w-25">
    {{ form_start(form) }}
    {{ form_row(form.command, {attr: {placeholder: 'np. say Hello world!'}}) }}
    {{ form_row(form.server) }}

    <button class="btn btn-info w-25">Wyślij&nbsp;<i class="far fa-paper-plane"></i></button>
    {{ form_end(form) }}
    </div>
{% endblock %}