<nav class="navbar navbar-expand-xl navbar-dark nav-styled">
    <a class="navbar-brand" href="/"><img src="/assets/images/{{ logo }}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav d-flex justify-content-xl-center gap-xxl-3 w-100">
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'index' %}active{% endif %}" href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a>
            </li>
            {% if isPlayerRank is not empty or isGuildRank is not empty %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}#rank">{% trans %}Rank{% endtrans %}</a>
                </li>
            {% endif %}
            {% if areBansSet %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'bans' %}active{% endif %}" href="{{ path('bans') }}#rank">{% trans %}Bans{% endtrans %}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'rule' %}active{% endif %}" href="{{ path('rule') }}">{% trans %}Rules{% endtrans %}</a>
            </li>
            {% if discord %}
                <li class="nav-item">
                    <a class="nav-link" rel="noreferrer" href="{{ discord }}">Discord</a>
                </li>
            {% elseif ts3 %}
                <li class="nav-item">
                    <a class="nav-link" rel="noreferrer" href="{{ ts3 }}">TeamSpeak3</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'contact' %}active{% endif %}" href="{{ path('contact') }}#admin">{% trans %}Contact{% endtrans %}</a>
            </li>
        </ul>
        <a href="{{ path('shop') }}">
            <button type="button" class="btn btn-warning"><i class="fas fa-cart"></i>{% trans %}Shop{% endtrans %}</button>
        </a>
    </div>
</nav>



