{% extends 'client/multi/dark/base.html.twig' %}

{% block body %}
    <section class="payments">
        {% form_theme form with ['form_div_layout.html.twig'] %}
        {% set now = item.type == 'item' ? 'Kup teraz' : 'Doładuj' %}

        {{ form_start(form, {method: 'POST'}) }}
        <div class="payments-direction mw-auto flex flex-between">
            <div class="payments-box flex">
                <div class="payments-box--bg">
                    <h1>Twoje dane <span>(Wymagane)</span></h1>
                    <div class="mx-between">
                        <p>&nbsp;</p>
                        <p class="payments-box-text">Nick z serwera</p>
                    </div>
                    {{ form_widget(form.username, { 'attr': {'class': 'payments-box-input', 'placeholder':'np. Steve'} }) }}
                    <div class="mx-between">
                        <p>&nbsp;</p>
                        <p class="payments-box-text">Email kontaktów</p>
                    </div>
                    {{ form_widget(form.email,{ 'attr': {'class': 'payments-box-input', 'placeholder':'np. test@test.pl'}}) }}
                </div>

                <div class="payments-box--bg">
                    <h1>Zatwierdź płatność</h1>
                    {% set class = not item.multiple ? 'd-none': 'd-block' %}
                    <div class="{{ class }}">
                        <div class="mx-between">
                            <p class="payments-box-text">Ilość</p>
                            {{ form_widget(form.count, {'attr': {'class': 'w-100'}}) }}
                            <p>Wybrano <b class="counter">1</b></p>
                        </div>
                    </div>
                    <div class="mx-between">
                        <p>&nbsp;</p>
                        <p class="payments-box-text">Forma płatności</p>
                    </div>
                    {{ form_widget(form.payment,{ 'attr': {'class': 'payments-box-input', 'placeholder':'np. test@test.pl'}}) }}
                    <div id="psc-code" style="display: none;">
                        <div class="mx-between">
                            <p class="payments-box-text">Kod PSC</p>
                        </div>
                        <ul id="code-fields-list"
                            data-prototype="{{ form_widget(form.code.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}"
                            data-widget-counter="{{ form.code|length }}">
                            {% for code in form.code %}
                                <li>{{ form_widget(code,{ 'attr': {'class': 'payments-box-input', 'placeholder':''}}) }}</li>
                                <div class="text-danger">{{ form_errors(code) }}</div>
                            {% endfor %}
                        </ul>
                        <button type="button"
                                class="btn btn-color-g add-another-collection-widget"
                                data-list-selector="#code-fields-list">Dodaj Kod
                        </button>
                        <button type="button"
                                class="btn btn-color-g rem-another-collection-widget"
                                data-list-selector="#code-fields-list">Usuń kod
                        </button>
                    </div>

                    <div class="payments-box-checkbox mx-align">
                        {{ form_widget(form.check, {'attr': {'style': 'display: none;'}}) }}

                        <label for="check" class="payments-box-check">
                            <svg width="18px" height="18px" viewBox="0 0 18 18">
                                <path
                                        d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                                </path>
                                <polyline points="1 9 7 14 15 4"></polyline>
                            </svg>
                            <p>Potwierdzam poprawność nicku w grze, akceptuje postanowienia regulaminu serwisu oraz
                                jestem
                                świadomy, że usługa nie podlega zwrotowi.</p>
                        </label>
                    </div>

                    <div class="payments-box-checkbox mx-align">
                        <button id="submit" type="submit" class="btn btn-color-g" style="display: none;">{{ now }} za <b class="pricing">{{ item.discountedPrice }}</b></button>
                    </div>
                </div>
            </div>

            <div class="payments-box payments-box--bg flex flex-around flex-align">
                <img src="{{ asset('/assets/images/' ~ item.image) }}" alt="SHOP-IMG">
                <div class="flex flex-align flex-column">
                    <h1 class="shop-box_h1">{{ item.name | raw }}</h1>
                    <p>{{ item.description | raw }}</p>
                    <div class="mx-between">
                        <p>&nbsp;</p>
                        <p>{{ item.shortDescription | raw }}</p>
                    </div>
                    <p class="mt-25">
                        {{now}} za <span class="d-none" id="counter" data-price="{{ item.discountedPrice }}"></span><b id="price">{{ item.discountedPrice }}</b> zł
                    </p>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}