{% extends 'client/base.html.twig' %}

{% block body %}
    <main class="bg2">
        <div class="container">
            <h1 class="text-white">{{ 'Choose payment option' | trans }}</h1>
            <h4 class="text1">
                <a href="{{ path('shop', {_locale: app.request.locale}) }}" target="_self">
                    {{ 'Back to the product list' | trans }}
                </a>
            </h4>
            <div class="row mt-5">
                {% if app.session.flashbag.peek('error') | length > 0 %}
                    <div class="col-12 alert-info alert">
                        {% for message in app.flashes('error') %}
                            {{ message | trans }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="col-lg-7">
                    <h1 class="text5 mb-3">{{ 'Payment form' | trans }}</h1>
                    {{ form_start(form, {method: 'POST', action: path('payment', {_locale: app.request.locale, id: item.id})}) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.payment) }}
                        <div id="psc-code" style="display:none">
                            {{ form_row(form.code) }}
                        </div>
                        <script>
                            document.getElementById('payment').addEventListener('change', (e) => {
                                e.target.value === 'paySafeCard'
                                    ? document.getElementById('psc-code').removeAttribute('style')
                                    : document.getElementById('psc-code').setAttribute('style', 'display: none;')
                            })
                        </script>
                        {{ form_row(form.check) }}

                        <button type="submit" class="btn-shop">{{ 'Buy now' | trans }}</button>
                    {{ form_end(form) }}
                    <br>
                </div>
                <div class="col-lg-5 pay-1">
                    <h1 class="text3">{{ item.name }}</h1>
                    <div class="text1" id="pay1">
                        <p><b>{{ 'By purchasing this item you get' | trans }}:</b></p>
                        {{ item.shortDescription | raw | nl2br }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}