{% extends 'purple/base.html.twig' %}

{% block body %}
    <section class="other-padding">
        <div class="mx-auto flex flex-center flex-column flex-align">
            <h1>{{ 'Please wiat' | trans }} ...</h1>
            <h4>{{ 'Redirect' | trans }}</h4>
            <br/><br/>
            {{ form_start(form, {method:'POST', action: 'https://' ~ paymentType ~ '.hotpay.pl', name: 'payment'}) }}
                <button class="btn btn-color-g" type="submit">{{ 'Go to payment now' | trans }}</button>
            {{ form_end(form) }}
            <script>
                window.onload = function () {
                    window.setTimeout(function () {
                        document.payment.submit();
                    }, 3000);
                };
            </script>
        </div>
    </section>
{% endblock %}

