{% if lastBuyers %}
<section class="last-buy">
    <div class="mw-auto flex flex-center flex-column flex-align">
        <p class="last-buy_p">Ostatnie zakupy</p>
        <div class="last-buy-box">
            {% set crafthead = "https://crafthead.net/avatar/" %}
            {% for buyer in lastBuyers %}
                <div class="flex flex-center">
                    <img class="is-info-head mr-5" src="{{ crafthead }}{{ buyer.username }}/55" alt="{{ buyer.username }}"/>
                    <div class="flex flex-column flex-center">
                        <p>{{ buyer.username }}</p>
                        <p>{{ buyer.date | date('d.m.Y H:i') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}