<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="pl"/>
<meta name="author" content="Mateusz Poźniak ak. Adexion">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes"/>
<link rel="shortcut icon" href="/assets/images/{{ logo }}" />

<link rel="manifest" href="/assets/manifest.json">

{% if head %}
    <title>{{ head.title }}</title>
    {% for meta in head.meta %}
        <meta {{ meta.type }}="{{ meta.value }}" content="{{ meta.content }}"
    {% endfor %}
    {% if head.custom %}
        {{ head.custom | raw}}
    {% endif %}
{% endif %}