<div class="d-inline-block pt-3">
    {% if facebook %} <a href="{{ facebook }}" target="_blank"><span class="social social--facebook"></span></a> {% endif %}
    {% if yt %} <a href="{{ yt }}" target="_blank"><span class="social social--youtube"></span></a> {% endif %}
    {% if instagram %} <a href="{{ instagram }}" target="_blank"><span class="social social--instagram"></span></a> {% endif %}
    {% if discord %} <a href="{{ discord }}" target="_blank"><span class="social social--discord"></span></a> {% endif %}
    {% if tiktok %} <a href="{{ tiktok }}" target="_blank"><span class="social social--tiktok"></span></a> {% endif %}
    {% if ts3 %} <a href="{{ ts3 }}" target="_blank"><span class="social social--teamspeak"></span></a> {% endif %}
</div>